<div class="main-container app" style="width: 550px; margin: 0 auto">
  <nz-row style="background-color: aliceblue;padding: 10px;">
    <form>
      <div class="ant-form-item-control control">
        <label for="title">Title:</label>
        <div class="ant-input-group">
          <input type="text" #newtitle>
        </div>
      </div>

      <div class="ant-form-item-control">
        <label for="title">Link:</label>
        <div class="ant-input-group">
          <input type="text" #newlink>
        </div>
      </div>

      <button (click)="addArticle(newtitle, newlink)"
              nz-button [nzType]="'primary'" style="float:right; background-color:forestgreen">
        Submit
      </button>
    </form>
  </nz-row>

  <div class="articles">
    <app-article *ngFor="let article of sortedArticles()" [article]="article" style="margin-top: 5px">
    </app-article>
  </div>
</div>
